{% extends 'base.html' %}
{% block titlename %}
    {{ train.name }}
{% endblock %}
{% block bodydata %}
    <div class="row">
        <p class="col-md">
        <h4 class="my-2">Название: <strong>{{ train.name }}</strong></h4>
        <h5 class="my-1">Время поездки: {{ train.travel_time }} мин.</h5>
        <h5 class="my-1">Из города: {{ train.from_city }}</h5>
        <h5 class="my-1">В город: {{ train.to_city }}</h5>
        <p>
            <a href="{% url 'trains:update' pk=train.pk %}">
                <button type="button" class="btn btn-warning mt-2">
                    Изменить
                </button>
            </a>
        </p>
        <p>
            <a href="{% url 'trains:delete' pk=train.pk %}">
                <button type="button" class="btn btn-danger">
                    Удалить
                </button>
            </a>
        </p>
        <p>
            <a href="{% url 'trains:home' %}">
                <button type="button" class="btn btn-secondary">
                    Назад к списку
                </button>
            </a>
        </p>
    </div>
    </div>
{% endblock %}