{% extends 'base.html' %}
{% block titlename %}
    Удаление маршрута
{% endblock %}
{% block bodydata %}
    <div class="alert alert-warning alert-dismissible fade show my-4" role="alert">
        <strong>Внимание:</strong> Это действие необратимо!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h4>Вы действительно хотите удалить маршрут {{ object.name }}?</h4>
    <div class="card border-primary mt-4 mx-0 col-md-4">
        <div class="card-header bg-primary text-white text-center">
            Название: {{ object.name }}
        </div>
        <div class="card-body">
            <h4 class="card-title text-center">
                {{ object.from_city }} - {{ object.to_city }}<br>
            </h4>
            <p class="card-text text-center">
                Время поездки: <strong>{{ object.travel_time_total }}</strong> мин.
            </p>
            {% for train in object.trains.all %}
                <p class="card-text text-center">
                    Поезд №<strong>{{ train.name }}</strong><br>
                    {{ train.from_city }} - {{ train.to_city }}
                </p>
            {% endfor %}
        </div>
    </div>
    {% include 'form.html' with action_name='Удалить' %}
{% endblock %}