{% extends 'base.html' %}
{% block titlename %}
    Поиск маршрута
{% endblock %}
{% block bodydata %}
    <h4 class="my-4">Поиск маршрута</h4>
    {% if routes %}
        <h4>Маршрут{% if routes|length != 1 %}ы{% endif %}  из г. {{ cities.from_city }} в г. {{ cities.to_city }}</h4>
        {% for route in routes %}
            <div class="card {% if route.total_time == min_time %}border-success {% else %}border-primary{% endif %} mt-4">
                <div class="card-header {% if route.total_time == min_time %}bg-success {% else %}bg-primary{% endif %} text-white">
                    Время в пути: <strong>{{ route.total_time }}</strong> мин.
                </div>
                <div class="card-body">
                    <h4 class="card-title"> |
                        {% for train in route.trains %}
                            {{ train.from_city }} - {{ train.to_city }} |
                        {% endfor %}
                    </h4>
                    <p class="card-text">
                        {% for train in route.trains %}
                            <p>{{ train }} - <strong>{{ train.travel_time }}</strong> мин.</p>
                        {% endfor %}
                    </p>
                    <a href="#"
                       class="btn {% if route.total_time == min_time %}btn-success {% else %}btn-primary{% endif %}">Ссылка</a>
                </div>
            </div>
        {% endfor %}
        {#        <div class="row-deck">#}
        {#            {% for route in routes %}#}
        {#                <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 18rem;">#}
        {#                    <div class="card-header">Из г. {{ cities.from_city }} в г. {{ cities.to_city }}</div>#}
        {#                    <div class="card-body">#}
        {#                        <h5 class="card-title">Время в пути: {{ route.total_time }} мин.</h5>#}
        {#                        <p class="card-text">#}
        {#                            {% for train in route.trains %}#}
        {#                                <p>{{ train }}</p>#}
        {#                            {% endfor %}#}
        {#                        </p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </div>#}
    {% endif %}
    {% url 'find_route' as action %}
    {% include 'form.html' with action_name='Найти' action=action %}
{% endblock %}