{% extends 'base.html' %}
    {% block titlename %}
        {{ city.name }}
    {% endblock %}
    {% block bodydata %}
        <div class="row">
            <div class="col-md">
                <h3>Page loaded</h3>
                    <h1>{{ city.name }}</h1>
                <a href="{% url 'cities:city_home' %}">
                    <button type="button" class="btn btn-secondary">
                        Назад к списку
                    </button>
                </a>
            </div>
        </div>
    {% endblock %}