{% extends 'base.html' %}
{% block titlename %}
    {{ city.name }}
{% endblock %}
{% block bodydata %}
    <div class="row">
        <p class="col-md">
        <h4 class="my-4">Название города: <strong>{{ city.name }}</strong></h4>
        <p>
            <a href="https://google.com/search?q={{ city.name }}">
                <button type="button" class="btn btn-info">
                    Подробнее
                </button>
            </a>
        </p>
        <p>
            <a href="{% url 'cities:update' pk=city.pk %}">
                <button type="button" class="btn btn-warning">
                    Изменить
                </button>
            </a>
        </p>
        <p>
            <a href="{% url 'cities:delete' pk=city.pk %}">
                <button type="button" class="btn btn-danger">
                    Удалить
                </button>
            </a>
        </p>
        <p>
            <a href="{% url 'cities:home' %}">
                <button type="button" class="btn btn-secondary">
                    Назад к списку
                </button>
            </a>
        </p>
    </div>
    </div>
{% endblock %}