{% extends 'base.html' %}
{% block titlename %}
    Список городов
{% endblock %}
{% block bodydata %}
    <h3 class="my-4 text-center">ГОРОДА</h3>
    <div class="row my-4">
        <div class="col-md ">
            <table class="table table-striped">
                <tr>
                    <td><h5><strong>Название</strong></h5></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for item in page_obj %}
                    <tr>
                        <td>
                            <a href="{% url 'cities:detail' pk=item.pk %}">
                                <h5>{{ item.name }}</h5>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'cities:update' pk=item.pk %}">
                                <button type="button" class="btn btn-warning">
                                    Изменить
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="https://google.com/search?q={{ item.name }}">
                                <button type="button" class="btn btn-info">
                                    Подробнее
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'cities:delete' pk=item.pk %}">
                                <button type="button" class="btn btn-danger">
                                    Удалить
                                </button>
                            </a>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'cities:add' %}">
            <button type="button" class="btn btn-primary my-0">
                Добавить
            </button>
        </a>
    </div>
    <div class="pagination justify-content-center my-2">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">F</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">L</a>
            </li>
        {% endif %}
    </div>
{% endblock %}