{% extends 'base.html' %}
    {% block titlename %}
        Cities list
    {% endblock %}
    {% block bodydata %}
        <br>
        <h4>Города:</h4>
        <div class="row">
            <div class="col-md">
                {% for item in qs %}
                        <a href="{% url 'cities:detail' pk=item.pk %}">
                            <h3>{{ item.name }}</h3>
                        </a>
                {% endfor %}
            </div>
        </div>
        <br>
        <a href="{% url 'cities:add' %}">
            <button type="button" class="btn btn-primary">
                Добавить
            </button>
        </a>
    {% endblock %}